.wrap{
    margin: auto;
    padding: auto;
    width: 1000px;
    height: 1400px;
    position: absolute;
}
.ear1,.ear2{
    width: 150px;
    height: 150px;
    background: rgb(165, 91, 42);
    display: inline-block;
    border-radius: 50%;
}
.ear1{
    margin-left: 240px;
}
.center1,.center2{
    width: 75px;
    height: 75px;
    background: pink;
    border-radius: 50%;
    margin-left: 37.5px;
    margin-top: 20px;
}
.head{
    width: 400px;
    height: 400px;
    background: rgb(165, 91, 42);
    border-radius: 50%;
    margin-left: 190px;
}
.eye1,.eye2{
    width: 100px;
    height: 100px;
    background: #fff;
    display: inline-block;
    border-radius: 50%;
    margin-top: 50px;
}
.eye1{
    margin-left: 100px;
}
.pupil1,.pupil2{
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 50%;
    margin-top: 45px;
    margin-left: 45px;
}
.nose{
    width: 100px;
    height: 80px;
    background: #000;
    margin-left: 150px;
    margin-top: 20px;
    border-radius: 50%;
}
.mouth{
    width: 200px;
    height: 20px;
    background: red;
    border-radius: 50%;
    margin-top: 70px;
    margin-left: 100px;
}
.arm1,.arm2{
    width: 200px;
    height: 200px;
    background: rgb(165, 91, 42);
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 300px;
}
.body{
    width: 400px;
    height: 600px;
    background: rgb(165, 91, 42);
    display: inline-block;
    border-radius: 50%;  
}
.leg1{
    width: 150px;
    height: 150px;
    background: rgb(165, 91, 42);
    display: inline-block;
    border-radius: 50%;
    margin-left: 260px;
}
.leg2{
    width: 150px;
    height: 150px;
    background: rgb(165, 91, 42);
    display: inline-block;
    border-radius: 50%;
}
.stomach{
    width: 250px;
    height: 250px;
    background: pink;
    border-radius: 50%;
    margin-top: 300px;
    margin-left: 75px;
}
