*,
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1320px;
}

 .container {
    display: grid;
    grid-template-columns: 413px 414px 414px;
    grid-gap: 20px;
 }
 .grid-item p{
   color: #000;
   font-family: 'TT Norms';
font-size: 16px;
line-height: 22px;
 }
 .grid-item2 p{
   color: #000;
   font-family: 'TT Norms';
font-size: 16px;
line-height: 22px;
 }
 .grid-item3 p{
color: #000;
font-family: 'TT Norms';
font-size: 16px;
line-height: 22px;
 }
 .grid-item4 p{
color: #000;
font-family: 'TT Norms';
font-size: 16px;
line-height: 22px;
 }
 .grid-item5 p{
color: #000;
font-family: 'TT Norms';
font-size: 16px;
line-height: 22px;
 }
 .grid-item6 p{
color: #000;
font-family: 'TT Norms';
font-size: 16px;
line-height: 22px;
 }
 .border{
   width: 373px;
   height: 2px;
   background: gray;
   margin: 20px;
 }