@media screen and (max-width: 320px) {
    .container {
        width: 310px;
    }

    .bimg {
        display: none;
    }

    .main-menu {
        display: flex;
    }

    .list-item {
        display: flex;
        flex-wrap: wrap;
    }

    .wrap {
        flex-direction: column;
    }

    .colorc {
        display: none;
    }

    .img1,
    .img2,
    .img3,
    .img4 {
        display: none;
    }

    .man {
        display: none;
    }

    .cakecol {
        display: none;
    }

    .inf img {
        display: none;
    }

    .lb1 {
        display: flex;
        flex-direction: column;
    }


}

@media screen and (max-width: 480px) {
    .container{
        width: 470px;
    }
    .bimg {
        display: none;
    }
    .wrap{
display: flex;
flex-wrap: wrap;

    }
    .img1,
    .img2,
    .img3,
    .img4 {
        display: none;
    }
    .cakecol {
        display: none;
    }
    .man {
        display: none;
    }
    .inf img {
        display: none;
    }

    .lb1 {
        display: flex;
        flex-direction: column;
    }

}
@media screen and (max-width: 720px){
.container{
    width: 710px;
}
.bimg {
    display: none;
}
.cakeb img{
    display: none;
}
.inf img {
    display: none;
}
.lb1 {
    display: flex;
    flex-direction: column;
}
}
@media screen and (max-width: 1080px){
    .container{
        width: 1070px;
    }
    .bimg {
        display: none;
    }
    .compimg{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .img1,
    .img2,
    .img3,
    .img4 {
        display: none;
    }
}
@media screen and (max-width: 1299px){
    .container{
        width: 1289px;
    }
    .bimg {
        display: none;
    }
}