*,body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.main-block{
    width: 100%;
    height: 100vh;
    position: relative;
}
.car{
    width: 50%;
    top: 30%;
    left: 61%;
    position: absolute;
    animation: car 10s linear infinite;
}
@keyframes car{
    from{
transform: translateX(200%);
    }
    to{
transform: translateX(-400%);
    }
}
.wheels{
    z-index: 2;
}
.wheels img{
    width: 10%;
    animation: wheels 1s linear infinite ;
}
@keyframes wheels{
    100%{
        transform: rotate(-360deg);
    }
}
.wheel1{
position: absolute;
top: 70%;
left: 36.5%;
width: 10%;
}
.wheel2{
    position: absolute;
    top: 70%;
    left: 69%;
    width: 10%;
}