*,
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.main-block {
    width: 100%;
    height: 100vh;
    position: relative;
    animation: main-block 10s linear infinite;
}

.liter {
    width: 5%;
    top: 26%;
    left: 51%;
    position: absolute;
    animation: liter 1s linear infinite;
}

@keyframes liter {
    from {
        background: blue;
    }

    to {
        background: red;
    }
}

.car {
    width: 50%;
    top: 30%;
    left: 36%;
    position: absolute;
}

@keyframes main-block {
    from {
        transform: translateX(50%);
    }

    to {
        transform: translateX(-150%);
    }
}

.wheel1 {
    position: absolute;
    top: 60%;
    left: 36.5%;
    width: 10%;
    animation: wheel1 1s linear infinite;
}

.wheel2 {
    position: absolute;
    top: 60%;
    left: 69%;
    width: 10%;
    animation: wheel2 1s linear infinite;
}

@keyframes wheel1 {
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes wheel2 {
    100% {
        transform: rotate(-360deg);
    }
}