*,body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.main-block{
    width: 100%;
    height: 100vh;
    position: relative;
}
.car{
    position: absolute;
}
.wheels1,.wheels2{
position: absolute;
}