@media screen and (max-width: 1080px){
    .container{
        width: 1070px;
    }
}
@media screen and (max-width: 720px){
    .container{
        width: 710px;
    }
    .header{
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 480px){
    .container{
        width: 470px;
    }
    .border1{
        display: none;
    }
    .border2{
        display: none;
    }
    .adres{
        width: 400px;
        margin-bottom: 30px;
    }
    .faceb{
        margin-top: 30px;
    }
    .laast{
        width: 480px;
        margin-top: 150px;
    }
    .lastsec img{
        display: none;
    }
    .lastsec{
        flex-direction: column;
    }
}
@media screen and (max-width: 320px){
    .container{
        width: 310px;
    }
    .logo img{
        width: 100%;
    }
    .contact{
        width: 300px;
    }
    .info{
        padding-left: 50px;
        padding-right: 0;
    }
    .adres{
        width: 300px;
        float: left;
    }

}