@media screen and (max-width: 1080px){
    .container{
        width: 1070px;
    }
    .basic{
        padding-left: 70px;
    }
    .border{
        display: none;
    }
    .name{
        width: 500px;
    }
    .resume{
        width: 500px;
    }
}
@media screen and (max-width: 720px){
    .container{
        width: 710px;
    }
    .basic{
        flex-direction: column;
    }
    .foto{
        margin-left: 158px;
    }
    .info{
        margin-top: 50px;
    }
    .name{
        margin-left: 110px;
    }

}
@media screen and (max-width: 480px){
    .container{
        width: 470px;
    }
    .logo img{
        width: 70%;
    }
    .foto{
        margin: 0;
    }
     .name{
        width: 470px;
        margin-left: 0;
    }
    .basic{
        padding: 50px 10px 50px 30px;
    }
    .resume{
        width: 410px;
    }
    .info{
        width: 400px;
    }
    .menu{
        display: flex;
        flex-direction: column;
    }
    .laast{
        width: 480px;
        margin-top: 150px;
    }
    .lastsec img{
        display: none;
    }
    .lastsec{
        flex-direction: column;
    }
}
@media screen and (max-width: 320px){
    .container{
        width: 310px;
    }
    .logo{
        width: 100%;
    }
    .contact a{
        display: none;
    }
    .header{
        padding-right: 0;
    }
    .foto img{
        width: 270px;
    }
    .info{
        width: 310px;

    }
    .name{
        width: 310px;
    }
    .resume{
        width: 300px;
        margin-top: 50px;
    }
    .cont{
        width: 300px;
        flex-direction: column;
    }
    .laast{
        width: 320px;
        margin-top: 300px;
    }
    .lastsec img{
        display: none;
    }
    .lastsec{
        flex-direction: column;
    }
}